<h1>vTiger Esteban Reyes</h1>


<form action="http://0.0.0.0:3000/greetings/hello" method="get">
  Rut Empresa: &nbsp<input type="text" name="rut"><br><br>
  ID Cliente: &nbsp&nbsp&nbsp&nbsp <input type="text" name="id"><br>
  <br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Buscar dirección">
</form>

<h2><%=@hh%></h2>
<p>Sitio desarrollado por ERG</p>
